.App {
  margin: auto;
  width: 350px;
  border: 2px solid rgb(24, 55, 228);
  text-align: center;
}
.heading {
  margin: auto;
  padding: 7px;
  font-size: 25px;
  width: 300px;
  color: rgb(98, 203, 241);
  text-align: center;
}
.scores-container {
  margin: auto;
  border: 8px solid rgb(129, 231, 101);
  width: 300px;
  margin-bottom: 15px;
}
.scores-ns {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  padding: 4px;
}
.country-name {
  font-size: 12px;
  color: rgb(98, 203, 241);
  text-align: center;
  margin: 10px;
  font-weight: bold;
  border: 3px solid rgb(98, 203, 241);
}
.scores-n {
  margin-left: 70px;
  font-weight: bold;
  font-size: 12px;
}
.scores-s {
  color: red;
}
